.container {
  margin: 5rem 0;
}
.info h2 {
  margin-bottom: 1rem;
}
.info p {
  font-size: 15px;
  margin: 0;
  line-height: 1.6;
}

.info {
  margin-bottom: 5rem;
}

.table {
  border-collapse: collapse;

  text-align: center;
  width: 100%;
}

.table td {
  padding: 0.5rem;
  font-weight: 500;
  vertical-align: middle;
}

.table th {
  font-weight: 600;
  padding: 1rem;
  background-color: #f4f5f9;
}

.table img {
  display: block;
  width: 100%;
  margin: auto;
  max-width: 120px;
  max-height: 150px;
}

@media (max-width: 768px) {
  .hidden {
    display: none;
  }
}
